.banner {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
  padding-top: 15vh;
  .text {
    font-size: 3rem;
    line-height: 4rem;
    width: 555px;
    margin-bottom: 3rem;
    padding: 0 2rem;
    span {
      padding-bottom: 0.5px;
      border-bottom: 3px #e0da48 solid;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.2rem;
      font-weight: 600;
      color: #646464;
    }
  }
  .search {
    width: 405px;
    margin-bottom: 3rem;
    padding: 1 2rem;
    form {
      padding: 0 27.5px;
      select {
        width: 350px;
        height: 50px;
        color: #7f977b;
        background: url("../public/Icon/arrow-down16.svg") no-repeat right 1rem
          center;
        margin: 0.2rem;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        padding: 1rem;
        font-weight: bold;
      }
      input {
        width: 350px;
        height: 50px;
        margin: 0.2rem;
        background-color: #f9f9f9;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        padding: 1rem;
      }
      button {
        display: flex;
        width: 350px;
        height: 50px;
        color: white;
        background-color: #7f977b;
        margin: 0.2rem;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        letter-spacing: 10px;
        font-weight: bolder;
        &:hover {
          background-color: #65895f;
        }
        img {
          padding-right: 1rem;
        }
      }
    }
  }
}

.main {
  height: 80vh;
  margin-top: 20vh;
  margin-bottom: 90rem;
  padding: 0 5rem 0 5rem;
  .slider {
    height: 30rem;
    position: relative;
    &:hover {
      .arrow {
        opacity: 1;
      }
      .pagination {
        opacity: 1;
      }
    }
    .carouselItem {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 24px;
        }
        p {
          position: absolute;
          text-align: center;
          width: 100%;
          font-size: 1.5rem;
          letter-spacing: 0.05rem;
          color: white;
          font-weight: bold;
        }
      }
    }

    // .control {
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   top: 0;
    //   opacity: 0;
    //   transition: all 0.2s ease-in-out;
    // &:hover {
    //   opacity: 1;
    // }

    .arrow {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: auto;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
    .arrowLeft {
      left: 6rem;
      background: url("../public/Icon/Carousel-Arrow-Left.svg");
      &:hover {
        background: url("../public/Icon/Carousel-Arrow-Left_hover.svg");
      }
    }
    .arrowRight {
      right: 6rem;
      background: url("../public/Icon/Carousel-Arrow-Right.svg");
      &:hover {
        background: url("../public/Icon/Carousel-Arrow-Right_hover.svg");
      }
    }
    .pagination {
      display: flex;
      align-items: center;
      position: absolute;
      right: 6rem;
      bottom: 1rem;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      .btn {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #c4c4c4;
        margin: 0.5rem;
      }
      .selected {
        width: 20px;
        height: 20px;
        background-color: white;
      }
    }
    // }
    .hidden {
      display: none;
    }
  }

  .more {
    .sort {
      display: flex;
      justify-content: space-between;
      h4 {
        font-size: 2rem;
        margin: 5rem 0 0 5rem;
      }
      a {
        display: flex;
        align-items: center;
        color: #ff725e;
        font-weight: bold;
        margin: 5rem 5rem 0 0;
      }
    }

    .bigInfo {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      a {
        display: flex;
        position: relative;
        width: 540px;
        height: 160px;
        background-color: #f9f9f9;
        margin: 2rem;
        border: 1px #e5e5e5 solid;
        border-radius: 5px;
        img {
          width: 160px;
          height: 160px;
          border-radius: 6px 0 0 6px;
          transition: all 0.2s ease-out;
          &:hover {
            transform: scale(1.1, 1.1);
          }
        }
        .description {
          padding: 1rem;
          .date {
            color: #646464;
            margin-bottom: 10px;
          }
          .title {
            color: #2f2f2f;
            font-size: larger;
            font-weight: bold;
          }
          .city {
            color: #646464;
            font-weight: bold;
            display: flex;
            align-items: center;
            position: absolute;
            left: 11rem;
            bottom: 1rem;
            img {
              width: 16px;
              height: 16px;
              margin-right: 5px;
            }
          }
          .detail {
            color: #7f977b;
            font-weight: bold;
            display: flex;
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            img {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }

    .smallInfo {
      display: flex;
      justify-content: center;
      a {
        display: block;
        position: relative;
        width: 255px;
        height: 271px;
        margin: 2rem;
        border-radius: 20px;
        img {
          width: 255px;
          height: 200px;
          border-radius: 20px;
          transition: all 0.2s ease-out;
          &:hover {
            transform: scale(1.1, 1.1);
          }
        }
        .content {
          color: #646464;
          padding-top: 1rem;
          display: inline;
          font-weight: bold;
          p {
            font-size: larger;
            font-weight: bold;
            color: #2f2f2f;
            margin: 0.5rem 0 0.3rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          img {
            width: 16px;
            height: 16px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 1368px) {
  .main {
    margin-bottom: 85rem;
    .more {
      .bigInfo {
        a {
          width: 400px;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .main {
    margin-bottom: 90rem;
    .more {
      .smallInfo {
        overflow-x: scroll;
        justify-content: start;
      }
    }
  }
}

@media (max-width: 1100px) {
  .main {
    margin-bottom: 85rem;
    .more {
      .bigInfo {
        a {
          width: 335px;
          height: 120px;
          img {
            width: 120px;
            height: 120px;
          }
          .description {
            width: 215px;
            .title {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            .city {
              left: 8.5rem;
              img {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .banner {
    .text {
      h2 {
        text-align: center;
        font-size: 2.5rem;
      }
      p {
        text-align: center;
      }
    }
  }
  .main {
    margin-top: 50vh;
    margin-bottom: 115rem;
    .slider {
      height: 25rem;
      .control {
        opacity: 100%;
      }
    }
    .more {
      .bigInfo {
        a {
          width: 540px;
          height: 160px;
          img {
            width: 160px;
            height: 160px;
          }
          .description {
            width: 380px;
            .title {
              overflow: visible;
              white-space: normal;
            }
            .city {
              left: 11rem;
              img {
                display: inline;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .main {
    margin-bottom: 90rem;
    padding: 0 2rem;
    .slider {
      height: 20rem;
      .control {
        .arrowLeft {
          left: 3rem;
        }
        .arrowRight {
          right: 3rem;
        }
        .pagination {
          right: 3rem;
          bottom: 0.5rem;
        }
      }
    }
    .more {
      .sort {
        h4 {
          margin-left: 0;
        }
        a {
          margin-right: 0;
        }
      }
      .bigInfo {
        a {
          width: 345px;
          height: 90px;
          border-radius: 12px;
          margin: 1rem;
          img {
            width: 90px;
            height: 90px;
            object-fit: cover;
            border-radius: 12px 0 0 12px;
          }
          .description {
            padding: 0.3rem;
            width: 250px;
            .date {
              margin: 0.2rem;
            }
            .title {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            .city {
              left: 6rem;
              bottom: 0.2rem;
              font-weight: normal;
              img {
                display: none;
              }
            }
            .detail {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .banner {
    .text {
      width: 350px;
      padding: 0;
      h2 {
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1rem;
      }
    }
    .search {
      width: 350px;
      form {
        margin: 0;
        padding: 0;
      }
    }
  }
  .main {
    padding: 0 10px;
    .slider {
      height: 15rem;
      .carouselItem {
        a {
          width: 100%;
        }
      }
      .arrow {
        display: none;
      }
    }
  }
}
